
/* Style Guide Styles */

/* -- Variables -- */

$white: #ffffff;
$dark-gray: #333333;
$gray: #5C5C5C;
$dark-orange: #9C775D;
$orange: #D7A480;
$med-green: #828049;
$dark-green: #5A5933;
$green: #B7B769;
$cream: #FFFCF3;
$dark-cream: #E8E5DD;
$dark-brown: #261E19;
$med-brown: #392D25;
$brown: #765A44;

$sans-serif: 'tablet-gothic', sans-serif;
$serif: 'hellenic-wide-jf', serif;
$body-serif: 'ff-avance-pro', serif;

/* -- General Styles -- */

body, html {
  overflow-x:
  hidden;margin: 0;
  padding: 0;
  background-color: $cream;
}

a {
  font-weight: 700;
  color: $dark-green !important;
  transition: ease-in 0.3s;
}

a:hover {
  font-weight: 700;
  color: $med-green !important;
  text-decoration: none;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

ul {
  list-style-type: none;
  line-height: 180%;
  padding-inline-start: 0px;
}

/* - Typography -*/

h1 {
  font-family: $serif;
  font-size: 38px;
  color: $white;
  line-height: 45.7px;
}

h2 {
  color: $dark-gray;
  font-family: $sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  color: $dark-gray;
  font-weight: 700;
  font-family: $sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

h4 {
  font-family: $sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: $dark-gray;
  line-height: 45.7px;
}

h5 {
  font-family: $sans-serif;
  color: $dark-green;
  font-size: 28px;
}

h6 {
  font-family: $sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

p {
  font-family: $body-serif;
  font-weight: 400;
  color: $dark-gray;
  font-size: 16px;
}

li {
  font-family: $body-serif;
  font-weight: 400;
  color: $dark-gray;
  font-size: 16px;
}

.container-fluid {
  padding: 0px;
}

/* -- Navigation -- */

.navbar {
  background: transparent;
}

.navbar-brand {
  // margin-bottom: -50px;
  height: 70px;
  position: relative;
  z-index: 2;
}

.navbar-toggler {
  z-index: 1000;
  border: 1px solid $cream;
}

.navbar-toggler-icon {
  color: $cream !important;
  content: "Menu";
}

.navbar-nav {
  max-height: 60px;
}

.nav-link  {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 0px;
  margin: 0 10px;
  padding: 10px 40px;
  border: 2px solid transparent;
}

.nav-item a {
  color: $cream !important;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  margin: 0 10px;
  padding: 10px 40px;
}

.naveffect {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.naveffect:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $cream;
  transform: translateX(-100%);
}

.naveffect:hover:before {
  transform: translateX(0);
}

.naveffect {
  color: $dark-cream;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* -- Buttons -- */

.main-button {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $dark-green;
  color: $white !important;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  border-radius: 0px;
  border-bottom: 5px solid $med-green;
}

.main-button:hover {
  color: $white !important;
  font-weight: 400;
  background: #68663A;
  transition: ease-in 0.3s;
  border-bottom: 5px solid $dark-green;
  text-decoration: none;
}

.alt-button {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $med-brown;
  color: $white !important;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  border-radius: 0px;
  border-bottom: 5px solid $brown;
}

.alt-button:hover {
  color: $white !important;
  font-weight: 400;
  background: $dark-brown;
  transition: ease-in 0.3s;
  border-bottom: 5px solid $med-brown;
  text-decoration: none;
}

.light-button {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $cream;
  color: $brown;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  border-radius: 0px;
  border-bottom: 5px solid $orange;
}

.light-button:hover {
  color: $white !important;
  font-weight: 400;
  background: $orange;
  transition: ease-in 0.3s;
  border-bottom: 5px solid $white;
  text-decoration: none;
}

/* --- Main Body ---- */

.banner {
  background: url(images/banner-example.png);
  background-size: cover;
  min-height: 350px;
  // margin-top: -90px;
}

.interior-banner {
  background: url(images/banner-example.png);
  background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.banner h1 {
  color: #ffffff;
  // margin-top: 90px;
  line-height: 71.55px;
  text-align: center;
}

.interior-hero-text {
  margin-top: 130px;
  text-align: center;
}

/* -- Home -- */

.home .banner {
  background: url(images/header-distress.png) no-repeat center bottom, url(images/banner-home.jpg) no-repeat top;
  background-size: cover;
  min-height: 100vh;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.home .texture {}

.home .banner h1 {
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@keyframes texture {
   0%{opacity: .3;}
   25%{opacity: .6;}
   50%{opacity: 1;}
   75%{opacity: .6;}
   100%{opacity: .3;}
 }

.arrow {
  top: auto;
  width: 23px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 19;
  margin: 0px auto;
  animation: arrow 6s infinite;
  filter: drop-shadow(2px 2px 2px #333333);
}

@keyframes arrow {
   0%{opacity: .3;}
   25%{opacity: .6;}
   50%{opacity: 1;}
   75%{opacity: .6;}
   100%{opacity: .3;}
 }


.home .larger {
  font-size: 55px;
  text-transform: uppercase;
}

.hero-text {
  text-shadow: 0px 5px 10px rgb(0 0 0 / 90%);
}

.hero-text h1 {
  margin-top: 250px;
}

#prop img {
  max-width: 370px;
  margin-bottom: -250px;
}

#prop h2 {
  font-family: $serif;
  font-size: 50px;
  color: #544236;
  font-weight: 400;
}

#prop p {
  font-family: $body-serif;
  font-size: 18px;
  line-height: 186%;
}

#prop .main-button {
  max-width: 250px;
}

#home-partners {
  background: $green;
}

#home-partners .container {
    // max-height: 500px;
}

#home-partners img {
  margin-bottom: 30px;
}

#home-partners .horizontal img {
  max-width: 200px;
}

#home-partners .vertical img {
  max-width: 125px;
}

#home-partners h3 {
  font-size: 28px;
  text-align: center;
  text-transform: none;
  font-family: $serif;
  color: $dark-green;
  padding: 20px;
  background: $green;
  max-width: 325px;
  float: none;
  margin: auto;
}

#home-partners .container {
  border: 1px solid $dark-green;
  margin-top: 35px;
  // max-height: 400px;
}

#tools {
  background: linear-gradient(123.29deg, #886750 19.27%, #C89975 61.6%);
}

#tools img {
  max-width: 380px;
  margin-bottom: -200px;
}

#tools h2 {
  font-family: $serif;
  font-size: 50px;
  color: $white;
  font-weight: 400;
}

#tools p {
  font-family: $body-serif;
  font-size: 18px;
  line-height: 186%;
  color: $white;
}

#tools .main-button {
  max-width: 250px;
}

#tools .alt-button {
  max-width: 335px;
}

#practice-preach {
  // padding-top: 50px;
  padding-top: 50px;
  background: linear-gradient(0deg, rgba(71, 70, 40, 0.7), rgba(71, 70, 40, 0.7)),
  url(images/practice-preach-bg.jpg);
  -webkit-background-size: cover;
  background-position: center;
  background-size:cover;
}

#practice-preach h2 {
  font-family: $serif;
  color: $white;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

#practice-preach p {
  font-family: $body-serif;
  color: $white;
  font-size: 22px;
  line-height: 166%;
  text-align: center;
}

#practice-preach .light-button {
  max-width: 195px;
  display: block;
  margin: auto;
}

.top {
  font-size: 65px;
}

.bottom {
  font-size: 45px;
}

/* -- Case In Point -- */


.case-in-point h6 {
    color: $gray;
   font-weight: 700;
   font-family: $sans-serif;
   font-size: 14px;
   letter-spacing: 3%;
}

.case-in-point .card-title {
  margin-bottom: 5px !important;
}

.case-in-point .card {
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0rem;
    transition: ease-in 0.325s;
}

.case-in-point .card:hover {
    background-color: $white;
    background-clip: border-box;
    border-bottom: 5px solid $green;
    border-radius: 0rem;
    transition: ease-in 0.3s;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.case-in-point  .card-body {
  padding: .75rem 1.25rem !important;
}

.case-in-point .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

.case-in-point .side .card {
  background-color: $dark-green;
  // background-clip: border-box;
  border: 0px solid rgba(0,0,0,0) !important;
  border-bottom: 6px solid $green !important;
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.case-in-point .side .card a {
  text-decoration:  none;
}

.case-in-point .side .card h5 {
  color: $white;
  font-size: 24px;
}

.case-in-point .card h5 {
    font-size: 24px;
}


/* --- Team Member Example --- */


.team-member-example .banner {
  background: url(images/team-member.png);
  -webkit-background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.team-member-example h3 {
  color: $dark-orange;
  font-weight: 400;
  font-family: $sans-serif;
  font-size: 25px;
  text-transform: none !important;
}

.team-member-example h5 {
  color: $dark-orange;
  font-weight: 400;
  font-family: $sans-serif;
  font-size: 19px;
  text-transform: none !important;
}

.team-member-example .card-title {
    margin-bottom: .3rem;
}

.team-member-example h6 {
     color: $gray;
     font-weight: 400;
     font-family: $sans-serif;
     font-size: 14px;
     letter-spacing: 3%;
}

.bio {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.team-member-example .card {
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0rem;
    transition: ease-in 0.325s;
}

.team-member-example  .card-body {
  padding: 0rem 1.25rem !important;
}

.team-member-example .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

.team-member-example {

}

.team-member-example a {
  // font-size: 16px;
}

/* --- Our Work Main Page Example --- */

.our-work .card {
    background-color: $dark-green;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0rem;
    transition: ease-in 0.325s;
}

.our-work h3 {
  font-family: $serif;
  font-size: 23px;
  font-weight: 300;
  color: $white;
  text-transform: none;
}

.our-work h6 {
  font-size: 18px;
}

.card-text {
  color: $white !important;
  font-size: 16px;
}

.our-work  .card-body {
  padding: 2.5rem !important;
}

.our-work  .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-work .main-button {
  border: 2px solid $white;
  background: transparent;
}

.our-work .main-button:hover {
  border: 2px solid $white;
  background: $white;
  color: $dark-orange;
}

/* --- Individual Work Page Example --- */


.work-example .banner {
  background: url(images/work-banner.png);
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.work-example h3 {
  color: $dark-green;
  font-weight: 400;
  font-family: $sans-serif;
  font-size: 25px;
  text-transform: none !important;
}

.work-example h4 {
  color: $dark-orange;
  font-weight: 400;
  font-family: $sans-serif;
  font-size: 22px;
  text-transform: none !important;
}

.work-example h5 {
  color: $dark-orange;
  font-weight: 400;
  font-family: $sans-serif;
  font-size: 19px;
  text-transform: none !important;
}

.work-example .card-title {
    margin-bottom: .3rem;
}

.work-example h6 {
     color: $gray;
     font-weight: 400;
     font-family: $sans-serif;
     font-size: 14px;
     letter-spacing: 3%;
}

.bio {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.work-example .card {
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0rem;
    transition: ease-in 0.325s;
}

.work-example  .card-body {
  padding: 0rem 1.25rem !important;
}

.work-example .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

.work-example .second {
  background: rgba(232, 229, 221, 40%);
}


/* Single Work Suggestion */

.work h5 {
  font-weight: 400;
  font-size: 23px;
}

.work h5 a:hover {
  color: $orange;
  font-weight: 700;
  transition: ease-in 0.325s;
}

.work .card {
    background-color: $dark-green;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0rem;
    transition: ease-in 0.325s;
}

.work h3 {
  font-family: $serif;
  font-size: 23px;
  font-weight: 300;
  color: $white;
  text-transform: none;
}

.work h6 {
  font-size: 18px;
  color: $white;
}

.card-text {
  color: $white !important;
  font-size: 16px;
}

.work  .card-body {
  padding: 2.5rem !important;
}

.work  .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work .main-button {
  border: 2px solid $white;
  background: transparent;
}

.work .main-button:hover {
  border: 2px solid $white;
  background: $white;
  color: $dark-orange;
}

/* --- Our Partners --- */

.partners .card {
    background-color: $dark-cream;
    color: $dark-gray;
    background-clip: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 6px solid $orange;
    border-radius: 0rem;
    transition: ease-in 0.325s;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.partners h3 {
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 154%;
  font-weight: 300;
  color: $dark-gray;
  text-transform: none;
}

.partners h6 {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 700;
}

.partners p {
  color: $dark-gray !important;
  font-size: 16px;
  line-height: 154%
}

.partners .thumb {
  background: $white;
}

.partners .card-text {
  color: $dark-gray !important;
}

.partners  .card-body {
  padding: 2.5rem !important;
}

// .partners  .card-img {
//   border-radius: 0px !important;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   background: $white\;
// }

.partners .main-button {
  border: 2px solid $dark-gray;
  background: transparent;
}

.partners .main-button:hover {
  border: 2px solid $white;
  background: $white;
  color: $dark-orange;
}

/* --- Contact ---*/

.contact h2 {
  color: $dark-green;
  font-weight: 400;
}

.contact h3 {
  color: $gray;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.contact label {
  color: $gray;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact .form-control {
  border-radius: 0px;
  padding: 10px;
}

.contact h4 {
  color: $gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.contact ul {
  line-height: 150%;
}


/* - footer */

.footer {
  background: $dark-gray;
  color: #ffffff;
  font-size: 14px;
}

.main-footer-links {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  border: 2px solid $dark-gray;
  border-radius: 30px;
  list-style: none;
}

.main-footer-links a {
  color: #ffffff;
}

.main-footer-links li {
  display:inline-block;
  padding:0 10px;
  position:relative;
}

.main-footer-links li:not(:last-child)::after{
  padding-right: 40px;
  border-right: 2px solid $dark-gray;
  content: "  ";
}


.main-footer-links a:hover {
  color: #DB7952;
  transition: ease-in 0.2s;
  text-decoration: none;
}

.footer p {
  text-transform: uppercase;
  color: rgba(59, 35, 15, .7);
  padding-top: 20px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1%;
  text-align: center;
}

// .sub-links a:first-child  {
//   color: $green;
// }



.links-1 a {
  color: #ffffff;
}

.links-1 .first {
  color: $dark-gray;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links-1 a:hover {
  color: $dark-gray;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-2 a {
  color: #ffffff;
}

.links-2 a:hover {
  color: $dark-gray;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-2 .first {
  color: $dark-gray;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links-3 a {
  color: #ffffff;
}

.links-3 .first {
  color: $dark-gray;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links-3 a:hover {
  color: $dark-gray;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-4 a {
  color: #ffffff;
}

.links-4 .first {
  color: $dark-gray;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links-4 a:hover {
  color: $dark-gray;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-5 a {
  color: #ffffff;
}

.links-5 .first {
  color: $dark-gray;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links-5 a:hover {
  color: $dark-gray;
  text-decoration: none;
  transition: ease-in 0.2s;
}







/* Interior Page */


.interior-page {
  background: #ffffff;
}

.interior-page h2 {
}

.interior-page {
  color: #3D342B;
}

.interior-header .container {
  padding-left: 0px;
}

.interior-header {
  width: 100%;
  padding: 40px 0px;
  max-height: 625px;
  background: #817E72;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.interior-header h1 {
  color: #ffffff;
}
