/* Style Guide Styles */
/* - General Styles - */
/* -- variables -- */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #FFFCF3;
}

a {
  font-weight: 700;
  color: #828049;
  transition: ease-in 0.3s;
}

a:hover {
  font-weight: 700;
  color: #D7A480;
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 180%;
  padding-inline-start: 0px;
}

/* - Typography -*/
h1 {
  font-family: "hellenic-wide-jf", serif;
  font-size: 38px;
  color: #ffffff;
  line-height: 45.7px;
}

h2 {
  color: #333333;
  font-family: "tablet-gothic", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  color: #333333;
  font-weight: 700;
  font-family: "tablet-gothic", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

h4 {
  font-family: "tablet-gothic", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  line-height: 45.7px;
}

h5 {
  font-family: "tablet-gothic", sans-serif;
  color: #828049;
  font-size: 28px;
}

h6 {
  font-family: "tablet-gothic", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

p {
  font-family: "ff-avance-pro", serif;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
}

li {
  font-family: "ff-avance-pro", serif;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
}

.container-fluid {
  padding: 0px;
}

/* Navigation */
.navbar {
  background: transparent;
}

.navbar-brand {
  height: 70px;
  position: relative;
  z-index: 2;
}

.navbar-nav {
  max-height: 60px;
}

.navbar a {
  font-family: "tablet-gothic", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 0px;
  margin: 0 10px;
  padding: 10px 40px;
  border: 2px solid transparent;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  transition: ease-in 0.2s;
  border: 2px solid #ffffff;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

/* - Buttons -*/
.main-button {
  font-family: "ff-avance-pro", serif;
  font-weight: 400;
  font-size: 16px;
  background: #828049;
  font-weight: 900;
  color: #ffffff;
  padding: 15px 25px;
  transition: ease-in 0.3s;
  border-radius: 0px;
  border-bottom: 5px solid #B7B769;
}

.main-button {
  color: #fffffff;
}

.main-button:hover {
  color: #ffffff;
  background: #68663A;
  transition: ease-in 0.3s;
  border-bottom: 5px solid #828049;
  text-decoration: none;
}

.alt-button {
  color: #333333;
  background: transparent;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0px;
  transition: ease-in 0.3s;
}

.alt-button:hover {
  color: #333333;
  text-decoration: none;
}

/* --- Main Body ---- */
.banner {
  background: url(images/banner-example.jpg);
  -webkit-background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.banner h1 {
  color: #ffffff;
  margin-top: 90px;
  line-height: 71.55px;
  text-align: center;
}

/* - Case In Point Example - */
.case-in-point h6 {
  color: #5C5C5C;
  font-weight: 700;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
  letter-spacing: 3%;
}

.case-in-point .card-title {
  margin-bottom: 5px !important;
}

.case-in-point .card {
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.case-in-point .card:hover {
  background-color: #ffffff;
  background-clip: border-box;
  border-bottom: 5px solid #B7B769;
  border-radius: 0rem;
  transition: ease-in 0.3s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.case-in-point .card-body {
  padding: 0.75rem 1.25rem !important;
}

.case-in-point .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

.case-in-point .side .card {
  background-color: #828049;
  border: 0px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 6px solid #B7B769 !important;
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.case-in-point .side .card a {
  text-decoration: none;
}

.case-in-point .side .card h5 {
  color: #ffffff;
  font-size: 24px;
}

.case-in-point .card h5 {
  font-size: 24px;
}

/* --- Team Member Example --- */
.team-member-example .banner {
  background: url(images/team-member.png);
  -webkit-background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.team-member-example h3 {
  color: #9C775D;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 25px;
  text-transform: none !important;
}

.team-member-example h5 {
  color: #9C775D;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 19px;
  text-transform: none !important;
}

.team-member-example .card-title {
  margin-bottom: 0.3rem;
}

.team-member-example h6 {
  color: #5C5C5C;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
  letter-spacing: 3%;
}

.bio {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.team-member-example .card {
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.team-member-example .card-body {
  padding: 0rem 1.25rem !important;
}

.team-member-example .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

/* --- Our Work Main Page Example --- */
.our-work .card {
  background-color: #828049;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.our-work h3 {
  font-family: "hellenic-wide-jf", serif;
  font-size: 23px;
  font-weight: 300;
  color: #ffffff;
  text-transform: none;
}

.our-work h6 {
  font-size: 18px;
}

.card-text {
  color: #ffffff !important;
  font-size: 16px;
}

.our-work .card-body {
  padding: 2.5rem !important;
}

.our-work .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-work .main-button {
  border: 2px solid #ffffff;
  background: transparent;
}

.our-work .main-button:hover {
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #9C775D;
}

/* --- Individual Work Page Example --- */
.work-example .banner {
  background: url(images/work-banner.png);
  -webkit-background-size: cover;
  min-height: 350px;
  margin-top: -90px;
}

.work-example h3 {
  color: #828049;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 25px;
  text-transform: none !important;
}

.work-example h4 {
  color: #9C775D;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 22px;
  text-transform: none !important;
}

.work-example h5 {
  color: #9C775D;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 19px;
  text-transform: none !important;
}

.work-example .card-title {
  margin-bottom: 0.3rem;
}

.work-example h6 {
  color: #5C5C5C;
  font-weight: 400;
  font-family: "tablet-gothic", sans-serif;
  font-size: 14px;
  letter-spacing: 3%;
}

.bio {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.work-example .card {
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem;
  transition: ease-in 0.325s;
}

.work-example .card-body {
  padding: 0rem 1.25rem !important;
}

.work-example .card-img {
  border-radius: 0px !important;
  width: 100%;
  height: 9vw;
  object-fit: cover;
}

.work-example .second {
  background: rgba(232, 229, 221, 0.4);
}

/* - footer */
.footer {
  background: #333333;
  color: #ffffff;
  font-size: 14px;
}

.main-footer-links {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid #333333;
  border-radius: 30px;
  list-style: none;
}

.main-footer-links a {
  color: #ffffff;
}

.main-footer-links li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.main-footer-links li:not(:last-child)::after {
  padding-right: 40px;
  border-right: 2px solid #333333;
  content: "  ";
}

.main-footer-links a:hover {
  color: #DB7952;
  transition: ease-in 0.2s;
  text-decoration: none;
}

.footer p {
  text-transform: uppercase;
  color: rgba(59, 35, 15, 0.7);
  padding-top: 20px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1%;
  text-align: center;
}

.links-1 a {
  color: #ffffff;
}

.links-1 .first {
  color: #333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.links-1 a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-2 a {
  color: #ffffff;
}

.links-2 a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-2 .first {
  color: #333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.links-3 a {
  color: #ffffff;
}

.links-3 .first {
  color: #333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.links-3 a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-4 a {
  color: #ffffff;
}

.links-4 .first {
  color: #333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.links-4 a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.links-5 a {
  color: #ffffff;
}

.links-5 .first {
  color: #333333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.links-5 a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in 0.2s;
}

/* Interior Page */
.interior-page {
  background: #ffffff;
}

.interior-page {
  color: #3D342B;
}

.interior-header .container {
  padding-left: 0px;
}

.interior-header {
  width: 100%;
  padding: 40px 0px;
  max-height: 625px;
  background: #817E72;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.interior-header h1 {
  color: #ffffff;
}
